.accordion {
  width: 90%;
  margin: 0 auto; }
  .accordion .accordion-list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .accordion .accordion-item {
    color: white; }
  .accordion .accordion-button {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid gray;
    border-bottom: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0; }
  .accordion .accordion-text {
    display: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-top: none;
    padding: 15px; }
